#sideNav
  .sideNav-container
    .sideNav-group.J-group
      a.sideNav-group-title.J-group-title
        em.ico-font.sideNav-ico.ico-spread &#xe602;
        em.ico-font.sideNav-ico.ico-shrink &#xe603;
        span 列表
        em.ico-font.sideNav-ico-trigle.ico-spread &#xe607;
        em.ico-font.sideNav-ico-trigle.ico-shrink &#xe606;
      .sideNav-group-list
        a(href="#{htmlRoot}/列表页/两行查询列表.html", target="manage-inner").sideNav-linker.J-group-linker
          span 两行查询列表
        a(href="#{htmlRoot}/列表页/多行查询列表.html", target="manage-inner").sideNav-linker.J-group-linker
          span 多行查询列表
        a(href="#{htmlRoot}/列表页/标准列表.html", target="manage-inner").sideNav-linker.J-group-linker
          span 标准列表
        a(href="#{htmlRoot}/列表页/多个标题列表.html", target="manage-inner").sideNav-linker.J-group-linker
          span 多个标题列表
        a(href="#{htmlRoot}/列表页/查看列表.html", target="manage-inner").sideNav-linker.J-group-linker
          span 查看列表
        a(href="#{htmlRoot}/列表页/新增列表.html", target="manage-inner").sideNav-linker.J-group-linker
          span 新增列表
        a(href="#{htmlRoot}/列表页/审核.html", target="manage-inner").sideNav-linker.J-group-linker
          span 审核
        //- a(href="#{htmlRoot}/列表页/下垃级联.html", target="manage-inner").sideNav-linker.J-group-linker
        //-   span 下垃级联

    .sideNav-group.J-group
      a.sideNav-group-title.J-group-title
        em.ico-font.sideNav-ico.ico-spread &#xe602;
        em.ico-font.sideNav-ico.ico-shrink &#xe603;
        span 提示
        em.ico-font.sideNav-ico-trigle.ico-spread &#xe607;
        em.ico-font.sideNav-ico-trigle.ico-shrink &#xe606;
      .sideNav-group-list
        a(href="#{htmlRoot}/提示/数据加载中.html", target="manage-inner").sideNav-linker.J-group-linker
          span 数据加载中
        a(href="#{htmlRoot}/提示/查询无结果.html", target="manage-inner").sideNav-linker.J-group-linker
          span 查询无结果
        a(href="#{htmlRoot}/提示/输入查询条件.html", target="manage-inner").sideNav-linker.J-group-linker
          span 输入查询条件
        a(href="#{htmlRoot}/提示/404.html", target="manage-inner").sideNav-linker.J-group-linker
          span 404
        a(href="#{htmlRoot}/提示/500.html", target="manage-inner").sideNav-linker.J-group-linker
          span 500

    .sideNav-group.J-group
      a.sideNav-group-title.J-group-title
        em.ico-font.sideNav-ico.ico-spread &#xe602;
        em.ico-font.sideNav-ico.ico-shrink &#xe603;
        span 弹出框
        em.ico-font.sideNav-ico-trigle.ico-spread &#xe607;
        em.ico-font.sideNav-ico-trigle.ico-shrink &#xe606;
      .sideNav-group-list
        a(href="#{htmlRoot}/弹出框页面/信息保存成功.html", target="manage-inner").sideNav-linker.J-group-linker
          span 信息保存成功
        a(href="#{htmlRoot}/弹出框页面/信息保存失败.html", target="manage-inner").sideNav-linker.J-group-linker
          span 信息保存失败
        a(href="#{htmlRoot}/弹出框页面/信息确认提示.html", target="manage-inner").sideNav-linker.J-group-linker
          span 信息确认提示


    .sideNav-group.J-group
      a.sideNav-group-title.J-group-title
        em.ico-font.sideNav-ico.ico-spread &#xe602;
        em.ico-font.sideNav-ico.ico-shrink &#xe603;
        span 富文本编辑
        em.ico-font.sideNav-ico-trigle.ico-spread &#xe607;
        em.ico-font.sideNav-ico-trigle.ico-shrink &#xe606;
      .sideNav-group-list
        a(href="#{htmlRoot}/富文本编辑/富文本编辑器.html", target="manage-inner").sideNav-linker.J-group-linker
          span 富文本编辑

